   

    <section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Judgement Day</h1>
                       
                        <div class="page-scroll">
                            <a href="#about" class="btn btn-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About  Judgement day</h2>
                 <p class="intro-text">A Place to go to where you have the Ability to Rate Core positions inside the company you previously  or currently work for. </p>
                
            </div>
        </div>
    </section>

    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Rate a Company </h2>
                    <p>Search now!</p>
                    
                    <p>Here you can not only rate the companies you have previously worked for but also see what past employees have said about the companies you are interested in. </p>
                    <a href="/companies" class="btn btn-default btn-lg">Visit a list of Companies close to you.</a>
                </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Us at Judgement Day</h2>
                <p>Feel free to email us to provide feedback about Judgement day, we love  suggestions to help make us one kickass site, or to just say hello!</p>
                <p>feedback@judgementday.com</p>
                <ul class="list-inline banner-social-buttons">
                    <li><a href="https://twitter.com/"target="_blank" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li><a href="https://github.com/cmcilhenny/brickHouse/tree/boodstrap_test"target="_blank" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li><a href="https://trello.com/b/KqYhUZAD/mvp"target="_blank" class="btn btn-default btn-lg"><i class="fa fa-trello fa-fw"></i> <span class="network-name">Trello</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
   




   