<body>

    

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About <strong>Judgement Day</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="http://www.watblog.com/wp-content/uploads/2007/10/bossmeter.JPG" alt="">
                </div>
                <div class="col-md-6">
                    <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores </p>
                    <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center"><strong>Our Team</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="assets/shane.jpg" alt="">
                    <h3>Shane Miller
                        <small>CEO</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="https://avatars1.githubusercontent.com/u/5996672?s=460" alt="">
                    <h3>Stuart Grossman
                        <small>CEO</small>
                    </h3>
                </div>
                  <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://m.c.lnkd.licdn.com/mpr/pub/image-TtG0f9l-CRqrL1m2mhgjKiQC3bVjy9MmWWs5ywcc3TA9HSQhTtG59Lp-3hGeHQr9lhiL/courtney-mcilhenny.jpg" alt="">
                    <h3>Courtney McIlhenny
                        <small>CEO</small>
                    </h3>
                </div>
              
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    

   